.container-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rst-btn {
  font-size: 1.2em;
  margin-top: 10px;
  padding: 5px 15px;
}

.main-section {
  display: flex;
  justify-content: space-around;
}
